.animate-me.move {
  display: block;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.animation-anchor {
  display: inline-block;
}

.animate-me.highlight {
  display: inline-block;
}

.relative-size {
  font-size: 5rem !important;
}
