body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

pre {
  margin:0;
  padding:0.2em;
  font-weight:normal;
}

pre em {
  color:#000;
  background:yellow;
}

.top-corner {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  padding: .3rem;
}

.top-right-corner {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  padding: .3rem;
}

.red {
  color: rgba(255, 0, 0, 0.7);
}

.green {
  color: rgba(0, 255, 0, 0.7);
}
